<!DOCTYPE html>
<html>

<head>
  <title>Diagrama | <%= proyecto.name %>
  </title>
  <link rel="shortcut icon" href="resources/css/logo.png" type="image/x-icon">


  <!-- Enlace al archivo CSS externo -->
  <link rel="stylesheet" href="/resources/css/style2.css">

  <!-- Font Awesome para íconos -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>

<body>
  <!-- Barra de Herramientas -->
  <div class="container">
    <button class="componentes" id=""><i class=""></i> <a href="/proyecto">Volver</a></button>
    <button class="componentes" id="DelButton"><i class=""></i> Delete</button>
    <button class="componentes" id="saveButton"><i class=""></i> Guardar</button>


    <button class="componentes" id="ClassButton">Clase UML</button>

    <select id="RelationshipType" name="RelationshipType" class="hidden">
      <option value="association">Asociación</option>
      <option value="inheritance">Herencia</option>
      <option value="aggregation">Agregación</option>
      <option value="composition">Composición</option>
      <option value="dependency">Dependencia</option>
      <option value="realization">Realización</option>
    </select>

    <button class="componentes" id="RelationshipButton">Relación</button>

    <!-- Nuevo botón para descargar el archivo .java -->
    <button class="componentes" id="downloadJavaButton">.Java<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#8C1A10">
      <path
        d="" />
    </svg></button>
    <!-- Botón para descargar el archivo demo.zip -->
    <button class="componentes" id="downloadZipButton">BackEnd<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ECB576">
      <path
        d="" />
    </svg></button>
    <!-- Nuevos botones -->
    <!-- <button class="componentes" id="exportImageButton"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#75FB4C"><path d="M212-76q-57.12 0-96.56-39.44Q76-154.88 76-212v-536q0-57.13 39.44-96.56Q154.88-884 212-884h536q57.13 0 96.56 39.44Q884-805.13 884-748v536q0 57.12-39.44 96.56Q805.13-76 748-76H212Zm0-136h536v-536H212v536Zm4-50h528L571-502 450-341l-91-121-143 200Zm-4 50v-536 536Z"/></svg></button> -->

    <button class="componentes" id="exportXMIButton">Exportar a XMI</button>

    </div>

  <!-- Canvas para dibujar el diagrama -->
  <div class="lienzo">
    <canvas id="canvas" width="1500" height="800"></canvas>
  </div>

  <!-- Campos ocultos para pizarra_id y proyecto_name -->
  <input id="objetos" type="hidden" value='<%= JSON.stringify(proyecto.objetos) %>'>

  <input id="pizarra_id" type="hidden" value="<%= pizarra_id %>">
  <input id="proyecto_name" type="hidden" value="<%= proyecto.name %>">

  <!-- Modal para editar clases -->
  <div id="classModal" class="modal" >
    <div class="modal-content">
      <span id="closeModal" class="close">&times;</span>
      <h2>Editar Clase</h2>
      <label for="className">Nombre de la clase:</label><br>
      <input type="text" id="className"><br><br>
      <h3>Atributos</h3>
      <textarea id="classAttributes" rows="5" placeholder="Ingresa cada atributo en una línea separada"></textarea><br>
      <h3>Métodos</h3>
      <textarea id="classMethods" rows="5" placeholder="Ingresa cada método en una línea separada"></textarea><br><br>
      <button id="saveClass">Guardar</button>
    </div>
  </div>

  <!-- Scripts -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Scripts personalizados -->


  <script src="/resources/js/UMLClass.js"></script>
  <script src="/resources/js/UMLRelationship.js"></script>
  <script src="/resources/js/main.js"></script>
  <!-- <script src="/resources/js/extras.js"></script> -->


</body>

</html>